#topMenu{
    background-color:black;
    color:white;
    font-size: small;
    text-align: right;
}

.separator{
    color: gold;
}

#csula{
    font-size: 40px;
}

#csulaimg{
    vertical-align: middle;
}

#midMenu{
    background-color:gold;
    text-align: left;
    text-transform: uppercase;
}

.hline{
    font-weight: bold;
    font-size: large;
}

.p{
    text-indent: 2%;
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: small;
}